/* ##################################################
    Global Styles
################################################## */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Merriweather', serif;
  color: #2C3944;
}

header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #2C3944;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}

main {
  padding: 0 5vw;
}

footer {
  padding-bottom: 33vh;
  text-align: center;
  font-style: italic;
}

h1, h2, legend {
  font-size: 1.125rem;
  font-weight: 900;
}

h2 {
  margin-bottom: .75rem;
}

hr {
  margin-bottom: 1.25rem;
  padding: 1px 0;
  border: none;
  border-top: 4.5px solid #2C3944;
  border-bottom: 3px solid #2C3944;
}
form hr {
  padding: 0;
  margin-top: .75rem;
  margin-bottom: 1.5rem;
  border-top: none;
}

div.intro {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
}
.intro p,
footer {
  font-size: .875rem;
  color: #AAAEB3;
}

/* ##################################################
    Form Styles
################################################## */

fieldset {
  border: none;
}

#contact fieldset,
fieldset div:nth-last-of-type(1) {
  display: flex;
  flex-direction: column;
}

#contact legend {
  margin-bottom: 1.5rem;
}

label {
  /* margin-bottom: 1rem; */
  font-size: 0.875rem;
  font-weight: 300;
  color: #4E6274;
  line-height: 1.5;
}
#newsletter label {
  display: block;
}
#newsletter label.option {
  display: inline-block;
}

#contact input,
select,
textarea,
button {
  width: 100%;
  height: 50px;
  padding: .75rem 1.25rem;
  background: #EFF1F1;
  border: none;
  border-radius: .3em;
  font-family: 'Merriweather', serif;
  font-size: .875rem;
}

#contact input,
select {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

input#zip {
  max-width: 50%;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: baseline;
  margin-right: 10px;
}

#newsletter label:not(.option) {
  margin-top: 1.5rem;
}

input[type="radio"],
input[type="checkbox"],
#newsletter label.option {
  margin-top: .825rem;
}

select {
  color: #AAAEB3;
}

option {
  color: #000;
}

textarea {
  height: 100px;
  margin-top: 1rem;
}

button[type="submit"] {
  height: 60px;
  margin: 1.5rem 0 1.75rem;
  padding: 1.125rem;
  background: #4EBBB5;
  color: #FFF;
  font-size: 1.125rem;
  font-weight: bold;
}

#contact input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #2C3944;
}

::placeholder {
  font-size: .75rem;
  font-style: italic;
  opacity: .5;
}

#name::placeholder,
#email::placeholder {
  text-align: right;
}

/* ##################################################
    Media Queries
################################################## */

@media screen and (min-width: 768px) {
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
  }

  footer {
    padding-bottom: 45vh;
  }

  h2 {
    font-size: 1.5rem;
  }

  hr,
  form hr {
    margin-bottom: 3rem;
  }

  form hr {
    margin-top: 1.75rem;
  }

  div.intro {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  div.pair,
  fieldset div:nth-last-of-type(1) {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25rem;
  }

  #contact label {
    flex-basis: 25%;
    height: 50px;
    margin: auto 0;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  #contact input,
  select {
    width: initial;
    flex-grow: 1;
    flex-basis: 75%;
    margin: 0;
  }

  input#zip {
    max-width: 25%;
  }

  button[type="submit"] {
    margin-bottom: 2.25rem;
  }
}